/*Adding font*/
body{
font-family: 'Arvo', serif;
background-color: #ded6b7;
}

h1{
    text-align: center;
    background-color: #ded6b7;
    font-size:2em;
    
}
.text{
    background-color:#ded6b7;
    font-size:0.85em;
   
}

/*Making a fixed width container to ensure margins are maintained*/
.container{
    margin:0 auto;
    max-width:1070px;
    background:	#f9f9f9;
    font-size:24px;
    background-color: #ded6b7;
   
}

/*Background attachment set to fixed to give the parallax scrolling effect*/
.parallax {

  
  /* Set a specific height */
  min-height: 650px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 
  background-color:#ded6b7;
 
   



}

/*Placing each image as separate background images*/
#dino{
    background-image: url("dino.jpg");
    background-size:contain;
    padding:40px;
    
}


#agriculture{
    background-image: url("agr-10.jpg");
    background-size:contain;
    padding:40px;
}

#industrialization{
    background-image: url("ind-12.jpg");
     background-size:contain;
     padding:40px;
}

#modern{
    background-image: url("faucet-20.jpg");
     background-size:contain;
     padding:40px;
}

#drought{
    background-image: url("drought-19.jpg");
     background-size:contain;
     padding:40px;
}

#save{
    background-image: url("suggestion-24.jpg");
     background-size:contain;
/*     padding:40px;*/
}

/*Giving the drop a fixed position so that it stays constant on the screen while the elements scroll up*/
#drop{
    height: 350px;
    width:350px;
    position:fixed;
    left:45%;
    z-index:2; 
    padding-top:153px;
    background: transparent;
    
    
    
}

